<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>, your password to Mundial app was reset.</h1>
    <p>
      To login to the site, use the new password: <%= @new_password %>.
    </p>
  </body>
</html>