@import "bootstrap";

/* colors */
$sollersGreen: #7aa01c;
$sollersBlue1: #72afe5;
$sollersBlue2: #2b69ad;
$sollersBlue3: #294d7a;

html {
  overflow-y: scroll;
}
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}
#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}
footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}
footer small {
  float: left;
}
footer ul {
  float: right;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 10px;
}

/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */
.debug dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */
aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}
.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}
.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Leaderboard */

.leaderboard {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
  span {
    padding: 25px;
  }
  span.place {
    font-size: x-large;
    font-weight: bolder;
    text-shadow: 5px 5px 5px $sollersGreen;
  }
}

/* teams index */
.teams {
  table {
    border-collapse: collapse;
    border-style:solid;
    cell-padding: 40;
  }
  td.group_name {
    padding: 10px;
    font-weight: bolder;
    width: 20%;
    //border-bottom: 3px solid teal;
    //border-right: 1px solid teal;
  }
  td.team_name {
    padding: 10px;
    width: 20%;
    //border-bottom: 3px solid teal;
    //border-right: 1px solid teal;
  }
}

/* matches index */
.table {
  // table {
    // border-collapse: collapse;
    // border-style: solid;
    // cell-padding: 5;
    // margin-left:auto; 
    // margin-right:auto;
  // }
  tr {
    &.match-header {
      color: $sollersBlue3;
    }
  }
  td.stage_name {
    padding: 10px 50px;
    font-weight: bolder;
    background-color: $sollersBlue3;
    font-size: large;
    text-align: center;
    letter-spacing: 2px;
    //border-bottom: 3px solid teal;
    //border-right: 1px solid teal;
  }
  th {
    color: $sollersGreen;
  }
  td, th {
    padding: 5px;
    vertical-align: middle;
    //border-bottom: 3px solid teal;
    //border-right: 1px solid teal;
    &.home_team {
      text-align: right;
      font-weight: bolder;
    }
    &.home_team_win {
      background-image: url('home_team_win_bg.png');
      background-repeat: no-repeat;
      background-position: left center;
    }
    &.home_team_draw {
      background-image: url('home_team_draw_bg.png');
      background-repeat: no-repeat;
      background-position: left center;
    }
    &.away_team {
      font-weight: bolder;
    }
    &.away_team_win {
      background-image: url('away_team_win_bg.png');
      background-repeat: no-repeat;
      background-position: right center;
    }
    &.away_team_draw {
      background-image: url('away_team_draw_bg.png');
      background-repeat: no-repeat;
      background-position: right center;
    }
    &.result {
      text-align: center;
    }
    &.button-col {
      padding: 0px 0px 0px 5px;
      text-align: right;
    }

    &.right-align {
      text-align: right;
    }
    
  }

// 
  // td.away_team {
    // padding: 5px;
    // text-align: left;
    // //border-bottom: 3px solid teal;
    // //border-right: 1px solid teal;
  // }
}

